body {
  
    text-align: center;
    font-family: Arial, sans-serif;
	color:white;
}

h3, h4, h5, h6, p {
      margin: 100px 200px;
	  color:green;
}
h1 {
    font-size: 180pt;
    margin: 0.5em 0 0;
}

h2 {
    font-size: 50pt;
	color:blue;
	
}
